#### For each lesson, there will be a corresponding lab to complete during the Thursday portion of class. To complete the lab, simply follow the cells step-by-step, adding your code where appropriate. Be sure to run your code to ensure correctness and completeness without errors. 

# Lab 9
In this lab, we'll be reviewing the basics of lists in Python, and work with manipulating list methods.

## Prompt
Use your knowledge of Python to address each of the following prompts.

#### 1. Let's review the basics of lists covered in Lecture 7.

 - First, define a list, named *not_div_2* that contains the following values: 53, 59, 61, 68, 71
 - Using list indexing, print 61.
 - Using list slicing, print the series of 61, 68, 71.

In [1]:
#define your list here
not_div_2: list = [53, 59, 61, 68, 71]

In [2]:
#print 61 here
not_div_2[2]

61

In [3]:
#print the series here
not_div_2[2:]

[61, 68, 71]

#### 2. Notice that 68 is divisible by 2. 67, however, is not. Substitute 68 for 67, as shown in the slide.

#### Print the list *not_div_2* to check your work.

In [4]:
#substitute the value here
not_div_2[3] = 67
print(not_div_2)

[53, 59, 61, 67, 71]

#### 3. Your list should now contain the following values (which should all not be divisible by 2): 53, 59, 61, 67, 71

#### Using a for loop, loop through the list, printing the result of each value divided by 2.

In [5]:
#loop through the list here
for num in not_div_2:
    print(num/2)

26.5
29.5
30.5
33.5
35.5

#### 4. In Python, there are various ways to move from a list to a string, each doing so in a different way. It is important to understand how each works to determine the best use cases.

 - Given the string defined below:

   - One way to accomplish this we discussed last week is the split() method of strings. Use split() to split the string on spaces and print the result.
   
   - The second way to accomplish this was learned this week. Use list() to convert the string to a list and print the result.

In [6]:
#string defined here
my_string = "Today is Thursday."

In [7]:
#split using split()
print(my_string.split())

['Today', 'is', 'Thursday.']

In [8]:
#split using list()
print(list(my_string))

['T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'T', 'h', 'u', 'r', 's', 'd', 'a', 'y', '.']

#### 5. Many times, you will find that Python data types (like lists) will contain other data types. Learning how to access these nested values is important.

Suppose you have a row of data in a database as defined below.

 - How would you access all hobbies as a list? Write the code to do so.
 - How would you access "fishing"? Write the code to do so.

In [9]:
#list defined here
name_birthday_hobbies = ["Jon", "07/17/2011", ["running", "fishing", "swimming"]]

In [10]:
#access list of hobbies here
name_birthday_hobbies[2]

['running', 'fishing', 'swimming']

In [11]:
#access fishing here
name_birthday_hobbies[2][1]

'fishing'

#### 6. Much like strings, lists can be added and multiplied. 

 - Concatenate the following lists, saving the result to a variable named *combi_var*.
 - Replicate combi_var 3 times.

In [12]:
#define lists
list_1 = [1, 3, 5]
list_2 = [7, 9]

In [13]:
#concatenate
combi_var = list_1 + list_2
print(combi_var)

[1, 3, 5, 7, 9]

In [14]:
#replicate
print(combi_var * 3)

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

#### 7. Below I have started a list of majors here at Luddy. 

- Using the appropriate method, add "Informatics" to the list.

In [15]:
#first definition
luddy_majors = ["MAS", "ADIS", "Engineering", "HIM", "BMI"]

In [16]:
#add here
luddy_majors.append("Informatics")
print(luddy_majors)

['MAS', 'ADIS', 'Engineering', 'HIM', 'BMI', 'Informatics']

#### 8. Using the appropriate method (not concatenation), add the *new_majors* list to the majors.

In [17]:
#definition of new_majors
new_majors = ["Computer Science", "Engineering"]

In [18]:
#add here
luddy_majors.extend(new_majors)
print(luddy_majors)

['MAS', 'ADIS', 'Engineering', 'HIM', 'BMI', 'Informatics', 'Computer Science', 'Engineering']

#### 9. Using the appropriate method, determine the count of "Engineering" in the updated list.

In [19]:
luddy_majors.count("Engineering")

2

#### 10. Using the appropriate method, remove the first instance of Engineering from the list.

In [20]:
luddy_majors.remove("Engineering")
print(luddy_majors)

['MAS', 'ADIS', 'HIM', 'BMI', 'Informatics', 'Computer Science', 'Engineering']

#### 11. Using the appropriate method, determine the index of the remaining instance of "Engineering" in the list.

In [21]:
luddy_majors.index("Engineering")

6

#### 12. Based on the knowledge gained in the last problem, use a method to remove the second instance of "Engineering" based on index.

In [23]:
print(luddy_majors.pop(6))
print(luddy_majors)

Engineering
['MAS', 'ADIS', 'HIM', 'BMI', 'Informatics', 'Computer Science']

#### 13. Finally, sort the list in reverse order, using the appropriate method.

In [24]:
luddy_majors.sort(reverse=True)
print(luddy_majors)

['MAS', 'Informatics', 'HIM', 'Computer Science', 'BMI', 'ADIS']