#### For each lesson, there will be a corresponding lab to complete during the Thursday portion of class. To complete the lab, simply follow the cells step-by-step, adding your code where appropriate. Be sure to run your code to ensure correctness and completeness without errors. 

# Lecture 8 Lab
In this lab, we'll be reviewing a number of built in  functions.

## Prompt
Use your knowledge of Python to address each of the following prompts.

#### 1a. Create a list containing the following elements,and name it my_list: -20, 3, 2, 7, 4, 5, 1, -3, 0, -2
#### 1b. Calculate the sum of the list by using one of the built in python functions

In [1]:
#1a
my_list = [-20, 3, 2, 7, 4, 5, 1, -3, 0, -2]

In [4]:
#1b
sum(my_list)

-3

#### 2. Divide the sum of *my_list* by 2, using divmod().

In [5]:
divmod(sum(my_list), 2)

(-2, 1)

#### 3. Divide the sum of *my_list* by the length of the list to find the average. Round the result to one place after the decimal.

In [6]:
result = sum(my_list) / len(my_list)
round(result, 1)

-0.3

#### 4. Take the absolute value of the sum of *my_list* and use pow() to raise it to the third power.

In [7]:
pow(abs(sum(my_list)), 3)

27

#### 5. Sort *my_list*.

In [10]:
sorted(my_list)

[-20, -3, -2, 0, 1, 2, 3, 4, 5, 7]

#### 6. Sort *my_list* in the reverse order.

In [11]:
sorted(my_list, reverse=True)

[7, 5, 4, 3, 2, 1, 0, -2, -3, -20]

#### 7. Find the maximum of *my_list*.

In [13]:
max(my_list)

7

#### 8. Find the minimum of *my_list*.

In [14]:
min(my_list)

-20

#### 9. What are the expected output of min() and max() if run on the list ["Albus", "Percival", "Wulfric", "Brian", "Dumbledore"]?

The expected output of min() is Albus. The expected output of max() is Wulfric. Python values the capital letters in the same order that they are read in the alphabet. When getting the minimum value, Python returns "Albus" because "A" is the lowest valued character to appear. The same goes for "Wulfric" as "W" is the highest valued character to appear in the list. If there are two words that start with "A" then Python evaluates and compares the next character in both items.

#### 10. Using a for loop and the appropriate function, print each of the values in the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] in octal.

In [18]:
for n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(oct(n))

0o1
0o2
0o3
0o4
0o5
0o6
0o7
0o10
0o11
0o12

#### 11. Do the same, with binary.

In [19]:
for n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(bin(n))

0b1
0b10
0b11
0b100
0b101
0b110
0b111
0b1000
0b1001
0b1010

#### 12. Do the same, with hexidecimal.

In [20]:
for n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    print(hex(n))

0x1
0x2
0x3
0x4
0x5
0x6
0x7
0x8
0x9
0xa

#### 13. Using a for loop, print the Unicode Character represented by each value in the following list: [100, 112, 111, 104, 125, 97, 117, 116]

In [21]:
for n in [100, 112, 111, 104, 125, 97, 117, 116]:
    print(chr(n))

d
p
o
h
}
a
u
t

#### 14. Rewrite the following code using an any() or all() function:

In [ ]:
#do not edit this
if type("trees") == str or 1 > 7:
    print("True")
else:
    print("False")

In [29]:
any([type("trees") == str, 1 > 7])

True

#### 15. Rewrite the following code using an any() or all() function:

In [ ]:
#do not edit this
if type("trees") == str and 1 > 7:
    print("True")
else:
    print("False")

In [23]:
all([type("trees") == str, 1 > 7])

False

#### 16a. Create a list of the following values, and name it *strings*: "('I')", "('Love')", "('Class')"

#### 16b. Using next(), move through the list, each time concatenating the string "print" and the output of next(), assigning it to the variable *full_string*. Also, set the default value of next() to "('nothing')". Use the eval() function on *full_string* of the to print the Python output each time.

In [31]:
strings = ["('I')", "('Love')", "('Class')"]
iter_strings = iter(strings)
full_string = "print("

for y in range(3):
    full_string = full_string + next(iter_strings, "('nothing')") + "+" + "' '" + "+"
else:
    full_string = full_string + "'')"
    eval(full_string)

I Love Class